<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuowei.dazhongdianping.module.merchant.mapper.MerchantWorkbenchMapper">

    <select id="selectMerchantAccount" resultType="com.tuowei.dazhongdianping.module.merchant.model.MerchantAccountRow">
        SELECT id,
               account,
               company_name,
               region,
               audit_status,
               status
        FROM merchant
        WHERE id = #{merchantId}
          AND is_deleted = FALSE
    </select>

    <sql id="merchantShopWhere">
        WHERE s.merchant_id = #{merchantId}
          AND s.region = #{region}
          AND s.status = 1
          AND s.is_deleted = FALSE
        <if test="shopIds != null">
            AND s.id IN
            <foreach collection="shopIds" item="shopId" open="(" separator="," close=")">#{shopId}</foreach>
        </if>
        <if test="query.categoryId != null">
            AND s.category_id = #{query.categoryId}
        </if>
        <if test="query.cityId != null">
            AND s.city_id = #{query.cityId}
        </if>
        <if test="query.areaId != null">
            AND s.area_id = #{query.areaId}
        </if>
        <if test="query.keyword != null and query.keyword != ''">
            AND (
                LOWER(s.name) LIKE CONCAT('%', LOWER(#{query.keyword}), '%')
                OR LOWER(s.tags) LIKE CONCAT('%', LOWER(#{query.keyword}), '%')
                OR LOWER(s.address) LIKE CONCAT('%', LOWER(#{query.keyword}), '%')
            )
        </if>
        <if test="query.minPrice != null">
            AND s.price_per_capita <![CDATA[>=]]> #{query.minPrice}
        </if>
        <if test="query.maxPrice != null">
            AND s.price_per_capita <![CDATA[<=]]> #{query.maxPrice}
        </if>
        <if test="query.minScore != null">
            AND s.score <![CDATA[>=]]> #{query.minScore}
        </if>
        <if test="query.hasDeal != null">
            AND s.has_deal = #{query.hasDeal}
        </if>
        <if test="query.openNow != null">
            AND s.open_now = #{query.openNow}
        </if>
    </sql>

    <select id="countMerchantShops" resultType="long">
        SELECT COUNT(1)
        FROM shop s
        <include refid="merchantShopWhere"/>
    </select>

    <select id="selectMerchantShops" resultType="com.tuowei.dazhongdianping.module.browse.model.ShopListRow">
        SELECT s.id,
               s.name,
               s.cover_url,
               s.score,
               s.price_per_capita,
               s.address,
               a.name AS area_name,
               c.name AS city_name,
               cat.name AS category_name,
               s.has_deal,
               s.open_now,
               s.tags
        FROM shop s
        LEFT JOIN area a ON a.id = s.area_id
        LEFT JOIN city c ON c.id = s.city_id
        LEFT JOIN category cat ON cat.id = s.category_id
        <include refid="merchantShopWhere"/>
        <choose>
            <when test="query.sort == 'score'">
                ORDER BY s.score DESC, s.id DESC
            </when>
            <when test="query.sort == 'popular'">
                ORDER BY s.has_deal DESC, s.score DESC, s.id DESC
            </when>
            <when test="query.sort == 'distance'">
                ORDER BY a.sort_no ASC, s.id ASC
            </when>
            <otherwise>
                ORDER BY s.has_deal DESC, s.score DESC, s.id DESC
            </otherwise>
        </choose>
        LIMIT #{query.pageSize} OFFSET #{query.offset}
    </select>
</mapper>
